/* General Styling */

nav {
    background-color: #161421;
}

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #2B2640;
    color: #F2F2F2;
}

h1 {
    color: #80FFE9;
}

/* Classes */

.container {
    background-color: #161421;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.card-body {
    background-color: #22222C;
}

.card-title {
    color: #80FFE9;
}

.btn {
    background-color: #C48FFF;
    color: #261B32;
}

.navbar-dark .navbar-nav .active .nav-link {
    color: #FF81BF;
}

.navbar-dark .navbar-nav .nav-link {
    color: #7970A9;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #9680FF;
}

.navbar-dark .navbar-brand h1:hover {
    color: #9680FF;
}