/* General Styling */

a {
    color: #50fa7b;
}

a:hover {
    color: #8be9fd;
    text-decoration: none;
}

.navbar-dark .navbar-brand {
    color: #50fa7b;
}

.navbar-dark .navbar-brand:hover {
    color: #8be9fd;
}

nav {
    background-color: #191A21;
}

body {
    font-family: 'Roboto Mono', monospace;
    /* background-color: #0B0A12; */
    background-color: #21212D;
    color: #f8f8f2;
}

h1 {
    color: #8be9fd;
}

/* IDs */

#custom-toggler {
    color: #ff79c6;
}

#custom-toggler:hover {
    color: #8be9fd;
}

/* Classes */

.container {
    background-color: #191A21;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

.card {
    background-color: #282a36;
}

.card-body {
    background-color: #282a36;
}

.card-header {
    color: #8be9fd;
}

.card-title {
    color: #8be9fd;
}

.contact-list {
    background-color: #282a36;
    color: #f8f8f2;
}

.contact-icon {
    color: #50fa7b;
    display: inline-block;
}

.contact-icon:hover {
    color: #8be9fd;
}

.btn {
    background-color: #bd93f9;
    color: #261B32;
}

.navbar-dark .navbar-nav .nav-link {
    color: #ffb86c;
}

.navbar-dark .navbar-nav .nav-link.active {
    color: #ff79c6;
    font-weight: 999;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #8be9fd;
}

.navbar-dark .navbar-brand h1:hover {
    color: #8be9fd;
}