/* General Styling */

nav {
    background-color: #1F1F1F;
}

body {
    background-color: #121212;
    color: #DDDDDD;
}

a {
    color: #DDDDDD;
}

/* Classes */

.container {
    background-color: #1F1F1F;
    margin-top: 20px;
    margin-bottom: 20x;
    padding: 20px;
}

.row {
    padding: 20px;
}

.head {
    color: #01DAC5;
}

.btn {
    background-color: #C48FFF;
    color: #261B32;
}